@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;     /*sticky footer*/
}

body {
  height: 100%;     /*sticky footer*/
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;       /*sticky footer*/
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;       /*sticky footer*/
}

/*header, navigation*/

.page-header {
  display: flex;
  padding: 0 70px;
}

.header-nav {
  display: flex;
  max-width: 640px;
}

.header-logo {
  display: block;
  margin-right: 28px;

  z-index: 1;
}

.header-logo img {
  display: block;
  margin-bottom: -6px;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav-link {
  display: block;
  padding: 20px 16px;

  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.active-nav-link {
  position: relative;
}

.active-nav-link::before {
  position: absolute;
  content: "";
  width: calc(100% - 32px);
  height: 2px;
  bottom: -1px;
  left: 16px;
  background-color: #756257;
}

.user-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 490px;
  margin-left: auto;
}

.user-nav-link {
  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 13px;
}

.user-favourites-number {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px 0;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;

  border-radius: 50%;
}

.modal-open-button {
  width: 160px;
  margin-left: 20px;
  padding-right: 34px;
  padding-left: 34px;

  color: #ffffff;

  background-color: #756157;
}

/*main*/

/*hero*/

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;

  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../img/backgrounds/hero-divider.svg), url(../img/backgrounds/hero-background.jpg);
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.hero-content-img {
  display: block;
  margin: 0 auto;
}

/*common for titles*/

.secondary-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.secondary-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/*common for links and buttons*/

.button-link {
  display: block;
  width: max-content;
  padding: 8px 50px;

  text-decoration: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.small-button-link {
  display: block;
  width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;

  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

/*advantages, services */

/*backgrounds for advantages and services*/

.dark-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.dark-item .item-title {
  color:#ffffff;
}

.light-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.superlight-item {
  background-color: rgba(131, 179, 211, 0.12);
}

/*common for titles of advantages and services*/

.item-title {
  position: relative;

  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages .item-title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-30px);

  content: " ";
  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.dark-item .item-title::after {
  background-color: #ffffff;
}

.item-description {
  margin: 0;

  text-align: center;
}

/*specials for advantages*/
.advantages {
  margin-bottom: 64px;
}

.advantages-main-title {
  margin-bottom: 25px;
}

.advantages-main-description {
  margin-bottom: 90px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantages-item {
  max-width: 400px;
  padding: 112px 85px;
}

.advantages-composite-item {
  display: flex;
}

.advantages-text-container {
  max-width: 400px;
  padding: 102px 85px;
}

.advantages-img {
  display: block;
}

.advantages-title {
  margin-bottom: 62px;
}

/*specials for services*/

.service-main-title {
  margin-bottom: 20px;
}

.service-main-description {
  margin-bottom: 64px;
}

.service-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.service-item {
  max-width: 400px;
  padding: 81px 85px;
}

.service-title {
  padding-top: 102px;
  margin-bottom: 30px;
}

.house-title {
  background-image: url(../img/icons/advantages-house.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.food-title {
  background-image: url(../img/icons/advantages-food.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.souvenirs-title {
  background-image: url(../img/icons/advantages-souvenir.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

/*search*/

.search {
  padding: 96px 0;
}

.search-title {
  margin-bottom: 20px;
}

.search-description {
  margin-bottom: 54px;
}

.search-link {
  max-width: 590px;
  margin: 0 auto;

  color: #ffffff;

  background-color: #756157;
}

/*subscribe*/

.subscribe {
  padding: 96px 0 104px;
}

.index-subscribe {
  color: #ffffff;

  background-color: #756157;
  background-image: url(../img/backgrounds/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-subscribe .secondary-title {
  color: inherit;
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-description {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

.subscribe-input {
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}


.subscribe-button {
  max-width: 400px;

  color: #ffffff;
  background-color: #82b3d3;

  border-radius: 0 4px 4px 0;
}

/*contacts*/

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 70px 30px;
}

.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.social-link, .developer-link {
  display: block;

  color:#82b3d3;
  text-decoration: none;
}

.phone-link {
  display: block;
  flex-grow: 1;
  width: max-content;

  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}


/*catalog*/

.catalog-header {
  padding: 35px 70px 70px;

  color:#ffffff;

  background-color: #756157;
  background-image: url(../img/backgrounds/filters-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 21px;
}

.breadcrumb-item {
  margin-right: 10px;
}

.breadcrumb-item:not(:first-child) {
  padding-left: 18px;

  background-image: url(../img/icons/arrow-right.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}

/*filters*/

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.fieldset-filter {
  padding: 0;
  margin: 0;

  border: none;
}

.infrastructure-filter {
  width: 150px;
  margin-right: 70px;
}

.house-filter {
  width: 150px;
  margin-right: 140px;
}

.price-filter {
  width: 288px;
  margin-right: 70px;
}

.filter-title {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;

  line-height: 23px;
  font-weight: 400;

  list-style-type: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.price-container {
  position: relative;
  width: max-content;
  margin-right: 2px;
}

.price-input {
  width: 143px;
  padding: 12px 20px;

  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #F2F2F2;
  border: none;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.price-label {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 20px;

  color: rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
  line-height: 24px;
}

.filter-button {
  width: 191px;
  margin-bottom: 32px;

  color: #ffffff;

  background-color: #82b3d3;
}

.reset-filter-button {
  width: 191px;

  color: #ffffff;

  background-color: transparent;
}

/*sorting*/

.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  flex-grow: 1;
  padding: 14px 20px;

  font: inherit;
  color: inherit;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: inherit;
}

.view-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 70px;

  list-style-type: none;
}

.view-button {
  text-decoration: none;
  color: inherit;
}

/*cards*/

.cards {
  padding: 0 70px;
  margin-bottom: 40px;
}

.cards-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-price-value {
  font-weight: 400;
}

.card-more-link, .card-favourite-button, .in-favourite {
  width: 140px;

  color: #ffffff;
}

.card-more-link {
  background-color: #756157;
}

.card-favourite-button {
  background-color: #82b3d3;
}

.in-favourite {
  background-color: #7db54f;
}

.card-rating-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*pagination*/

.pagination {
  position: relative;

  padding: 40px 70px 60px;
}

.pagination::before {
  position: absolute;
  left: 70px;
  top: 0;

  content: "";
  width: calc(100% - 140px);
  height: 1px;

  background-color: #e6e6e6;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
   list-style-type: none;
}

.pagination-link {
  width: 60px;
  padding: 12px 0;
  margin-right: 8px;

  text-decoration: none;
  color: #ffffff;


  background-color: #82b3d3;
}

.pagination-pass {
  display: block;
  width: 60px;
  padding: 17px 0;
  margin-right: 8px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.current-link {
  color: #000000;
  background-color: #f2f2f2;
}
