@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;

  margin: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*header, navigation*/

.main-nav-link {
  text-decoration: none;
  color: #000000;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
}

.user-nav-link {
  text-decoration: none;
  color: inherit;
}

.user-favourites-number {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-align: center;
}

.modal-open-button {
  color: #ffffff;
  background-color: #756157;
}

/*main*/

/*hero*/

.hero {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../img/backgrounds/hero-divider.svg), url(../img/backgrounds/hero-background.jpg);
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

/*advantages, services */

.secondary-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.secondary-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.dark-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.dark-item .item-title {
  color:#ffffff;
}

.light-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.superlight-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.item-description {
  text-align: center;
}

/*common for links and buttons*/

.button-link {
  text-decoration: none;
  border: none;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  border-radius: 4px;

  cursor: pointer;
}

.small-button-link {
  text-decoration: none;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 4px;

  cursor: pointer;
}

/*search*/

.search-link {
  color: #ffffff;
  background-color: #756157;
}

/*subscribe*/

.index-subscribe {
  background-color: #756157;
  background-image: url(../img/backgrounds/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #ffffff;
}

.index-subscribe .secondary-title {
  color: inherit;
}

.subscribe-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  color: #ffffff;
  background-color: #82b3d3;
}

/*contacts*/

.social-link, .developer-link {
  color:#82b3d3;
  text-decoration: none;
}

.phone-link {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}


/*catalog*/

.catalog-header {
  background-color: #756157;
  background-image: url(../img/backgrounds/filters-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:#ffffff;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}

/*filters*/

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  line-height: 23px;
  font-weight: 400;
}

.price-label {
  color: rgba(0, 0, 0, 0.2);
}

.price-input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.filter-button {
  background-color: #82b3d3;
  color: #ffffff;
}

.reset-filter-button {
  background-color: transparent;
  color: #ffffff;
}

/*sorting*/

.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-select {
  font: inherit;
  color: inherit;
}

.view-button {
  text-decoration: none;
  color: inherit;
}

/*cards*/

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-price-value {
  font-weight: 400;
}

.card-more-link, .card-favourite-button {
  color: #ffffff;
}

.card-more-link {
  background-color: #756157;
}

.card-favourite-button {
  background-color: #82b3d3;
}

.in-favourite {
  color: #ffffff;
  background-color: #7db54f;
}

.card-rating-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*pagination*/

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.current-link {
  color: #000000;
  background-color: #f2f2f2;
}
